rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dev_submissions/{document} {
      allow read, write: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.token.admin == true);
    }
    match /dev_approved_startups/{document} {
      allow read: if true;
    }
  }
}